*{
    margin: 0;
    padding: 0;
}
.main{
    width:100%;
    background-color: beige;
    height: 100vh;
    
}
.navbar{
    width:86%;
    display:flex;
    margin:auto;
    padding: 15px 0;
    align-items:center;
    justify-content:space-between

}

.navbar .logo{
    width: 100px ;
    height: 100px;
    cursor:pointer;
    margin-top: 10px;


}
ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display:inline-block;
    padding: 10px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: 10px;
    transition: .4s ease;
}
ul li a:hover{
    color:rgb(197, 25, 68);

}